{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@mattf_pwakit/acp.css' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_PWA_KIT_SETTINGS') }}</h1>

<p>{{ lang('ACP_PWA_KIT_SETTINGS_EXPLAIN') }}</p>

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

<form id="acp_pwakit" method="post" action="{{ U_ACTION }}" enctype="multipart/form-data">
	<fieldset>
		<legend>{{ lang('ACP_PWA_KIT_LEGEND_IDENTITY') }}</legend>
		<dl>
			<dt><label>{{ lang('SITE_NAME') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_KIT_SITE_NAME_EXPLAIN') }}</span></dt>
			<dd>{{ SITE_NAME }}</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('SITE_NAME_SHORT') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_KIT_SHORT_NAME_EXPLAIN') }}</span></dt>
			<dd>{{ SITE_NAME_SHORT }}</dd>
		</dl>
		<dl>
			<dt><label for="pwa_theme_color">{{ lang('ACP_PWA_THEME_COLOR') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_THEME_COLOR_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="pwa_theme_color" name="pwa_theme_color" size="20" value="{{ PWA_THEME_COLOR }}"></dd>
		</dl>
		<dl>
			<dt><label for="pwa_bg_color">{{ lang('ACP_PWA_BG_COLOR') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_BG_COLOR_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="pwa_bg_color" name="pwa_bg_color" size="20" value="{{ PWA_BG_COLOR }}"></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_PWA_KIT_LEGEND_ICONS') }}</legend>
		<dl>
			<dt><label for="pwa_upload">{{ lang('ACP_PWA_IMG_UPLOAD') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PWA_IMG_UPLOAD_EXPLAIN') }}</span></dt>
			<dd>
				<input type="file" accept="image/*" class="inputbox autowidth" id="pwa_upload" name="pwa_upload" />
				<button class="button2 pwakit-button" id="upload" name="upload">{{ Icon('font', 'upload', lang('PWA_IMG_UPLOAD_BTN')) }}</button>
				<button class="button2 pwakit-button" id="resync" name="resync">{{ Icon('font', 'sync', lang('PWA_IMG_RESYNC_BTN')) }}</button>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_PWA_KIT_ICONS') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_PWA_KIT_ICONS_EXPLAIN') }}</span></dt>
			<dd>
				{% for icon in PWA_KIT_ICONS %}
					<p>
						<img src="{{ icon.src }}" alt="{{ lang('ACP_PWA_KIT_ICONS_ALT') }}"><br>{{ icon.src|split('/')|last }}<br>{{ icon.sizes }}
					</p>
				{% endfor %}
			</dd>
		</dl>
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
